body{
    margin: 0;
    padding: 0;
}

section{
    width: 100%;
    height: 100%;
    background: #aeffe4;
    color: #1e5f7e;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
}

.wrapper{
    background: #1e5f7e;
    height: 100%;
    width: 50%;
    overflow: hidden;
    color: #aeffe4;
    position: absolute;
    top: 0;
    left: 0;
    border-right: 2px solid #fcfcfc;
}

.sliding{
    position: absolute;
    top: 50%;
    white-space: nowrap;
    font-size: 200px;
    overflow: hidden;
    font-family: 'Arial black';
    animation: animate 20s linear infinite;
}

@keyframes animate{
    0%{
        transform: translate(0,-50%);
    }
    100%{
        transform: translate(-50%, -50%);
    }
}